.stopShield{
    border: 3px solid #0c3135;
    background-color: white;
    width: 90vw;
    max-width: 35rem;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 800;
}

.monitor{
    border: 10px solid #0c3135;
    background-color: #2a484c;
    width: 90vw;
    max-width: 35rem;
}

.headers p{
    font-size: 0.75rem;
    color: white;
    margin: 0;
}